html {
  font-size: 62.5%;
}
main {
  max-width: 500px;
}
ul {
  margin: 0;
  padding-left: 52px;
}
li::marker {
  color: #707070;
  font-size: 1.2rem;
}

.todo-area {
  padding: 20px 0px 20px;
  background-color: #c9c9c9;
  border-radius: 10px;
  min-height: 250px;
}
.done-area {
  margin-top: 10px;
  padding: 20px 0px 20px;
  background-color: #c1e2ff;
  border-radius: 10px;
  min-height: 200px;
}

/* .button {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: white;
  font-size: 1.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} */
/* .button.large {
  padding: 8px 24px;
} */
/* .button.small {
  padding: 6px 20px;
} */
/* .button.add {
  background-color: #ffb01c;
} */
/* .button.done {
  margin-right: 8px;
  background-color: #96caf8;
} */
/* .button.delete {
  background-color: #89d92b;
} */
/* .button.back {
  background-color: #b7b7b7;
} */

.title {
  margin: 0;
  padding-left: 40px;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 2.4rem;
  color: #707070;
}
.list {
  margin-top: 12px;
}
.todo-text {
  display: inline-block;
  margin: 0 16px 0 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 2rem;
  color: #707070;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 98svh;
    margin: 0 4px 0;
  }
  ul {
    margin: 0;
    padding-left: 10%;
  }
  /* .button {
    font-size: 1.6rem;
  } */
  .todo-area {
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
  .done-area {
    order: 1;
    flex-grow: 0.3;
    min-height: 0;
    margin: 0 0 10px;
  }
  /* .button.add {
    font-size: 1.8rem;
    margin-top: 8px;
    padding: 16px 0;
    width: 100%;
  } */
  /* .button.done {
    margin-right: 2px;
  } */
  .title {
    font-size: 2rem;
    margin: 0 auto;
    padding-left: 0;
    width: 88%;
  }
  .todo-text {
    font-size: 1.8rem;
    margin-right: 4px;
  }
}
