html {
  font-size: 62.5%;
}
ul {
  margin: 0;
  padding-left: 52px;
}
li::marker {
  color: #707070;
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  ul {
    margin: 0;
    padding-left: 10%;
  }
}
